<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="estilos2.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
	<header>
		<img class="icono" src="school-bus.png"></img>
		<h1>UAQ-ANDA</h1>
		<p>Registrar chofer</p>
	</header>

	<div class="inicio">
		<p>Número de licencia:</p>
		<img src="driver-license.png">
		<input type="" name="">
		<p>Fecha de contratación:</p>
		<img src="calendar.png">
		<input type="" name="">
		<p>Teléfono de referencia:</p>
		<img src="phone-call.png">
		<input type="" name="">
		<button>Registrar chofer</button>
	</div>

	<footer></footer>

</body>
</html>