<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="estilos2.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
	<header>
		<img class="icono" src="school-bus.png"></img>
		<h1>UAQ-ANDA</h1>
		<p>Registrar chofer</p>
	</header>

	<div class="inicio">
		<p>Usuario:</p>
		<img src="users.png">
		<input type="" name="">
		<button>Verificar usuario</button>
	</div>

	<footer></footer>

</body>
</html>